body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color:#333;
  /* line-height:25px;
  font-size:0.95em; */
}

header > .container > p {
  padding: .8rem 0
}

header > .container > p > .color-red {
  color: red;
}

footer {
  margin-top: 10px;
  border: 1px solid #ccc;
}

/* article.container {
  background-color: #f7f7f7;
} */

.aside {
  background-color: white;
}

.lead-red {
  border-left: 5px solid #dc3545;
  padding-left: 1rem;
}

/* highlighter over write */
/* for block of numbers */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 10px;
}

td.hljs-ln-code > div.hljs-ln-line {
  padding-left: 10px;
}

td.hljs-ln-numbers > div.hljs-ln-line {
  padding-right: 5px;
}

.border-blue {
    border: 2px solid blue;
}

.margin-top-10px {
    margin-top: 10px;
}
