body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color:#333;
  /* line-height:25px;
  font-size:0.95em; */
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

.layout-box {
  border: 5px solid #333;
  text-align: center;
}

.box1 {
  border-color:#4286f4;
  color: #4286f4;
}

.box2 {
  border-color: #f4d742;
  color: #f4d742;
  width: 30%;
}

.box3 {
  border-color: #f44941;
  color: #f44941;
  width: 70%;
}

.box4 {
  border-color: #41f485;
  color: #41f485;
}

p {
  line-height: 400%;
  font-size: 1.8em;
}

.nav {
  background-color: #f2f2f2;
}

.nav > li {
  list-style: none;
  width: 100%;
  border: 1px solid #ddd;
  width: 25%;
}

.nav > li > a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
}



